
@{
    ViewBag.Title = "RussianDataMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Российские данные и индикаторы ASPIRE</h3>
<br />


<h4 style="padding-bottom: 8px;"><a href="~/CompareMCP/CompareMain">Показатели по направлениям, формам социальной поддержки и видам МСП в регионах</a></h4>

<ul>
    <li><a href="/CompareMCP/Index">Анализ МСП по направлениям и формам социальной поддержки и видам МСП классификации ASPIRE</a></li>
    <li><a href="/CompareMCP/CompareBySource">Анализ МСП по объемам и источникам финансирования</a></li>
    <li><a href="/CompareMCP/CompareByCriteria">Анализ МСП по критерию определения нуждаемости – адресные и категориальные</a></li>
</ul>
<h4 style="padding-bottom: 8px;"><a href="/Home/Index">Ключевые показатели эффективности социальной поддержки в регионах</a></h4>
<h4 style="padding-bottom: 8px;">
    <a href="/Dictionary/Index">Справка</a>
</h4>
<ul>
    <li><a href="/Dictionary/Index">Классификатор мер по регионам</a></li>
    <li><a href="/Dictionary/aboutData">О данных и расчетах показателей</a></li>
</ul>
