<?xml version="1.0" encoding="utf-8" ?>
<!--
    Примечание. Добавьте записи в файл App.config для параметров конфигурации,
    которые применяются только к проекту Test.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="AspireDBConnection" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=p@ssw0rd;Database=Aspire;" />
    </connectionStrings>
</configuration>
