
@{
    ViewBag.Title = "aboutData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="uk-breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><span>Справка</span></li>
    <li class="uk-active"><span>О данных и расчетах показателей</span></li>
</ul>

<h4>О данных и расчетах показателей</h4>
<br />

