
@{
    ViewBag.Title = "О международной версии ASPIRE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="uk-breadcrumb"><li><a href="/">Главная</a></li><li class="uk-active"><span>О международной версии ASPIRE</span></li></ul>


<h3>Описание международной версии атласа индикаторов социальной защиты ASPIRE</h3>
<br />
<h4 style="padding-bottom: 8px;"><u>Описание портала ASPIRE</u></h4>

<p>Атлас был разработана Сектором социальной защиты, рынка труда и занятости Всемирного банка (Social Protection and Labor, SPL) с целью выявления и обновления всестороннего набора сопоставимых и доступных индикаторов, которые помогают измерить результативность функционирования таких систем. Данный портал содержит унифицированные индикаторы как по странам, в которых действуют программы социальной защиты и занятости, так и по результативности программ социальной защиты, социального страхования и поддержки рынка труда. Такие индикаторы составлены на основе репрезентативных обследований домохозяйств из 120 развивающихся стран. Несмотря на то, что были предприняты попытки по обеспечению межстрановой сопоставимости, при использовании необходимо учитывать ограничения таких сравнений по некоторым индикаторам. Все индикаторы регулярно обновляются, страны добавляются в базу данных по мере появления новых обследований.</p>

<br />
<h4 style="padding-bottom: 8px;"><u><a href="http://datatopics.worldbank.org/aspire/about_aspire" target="_blank">Об Атласе индикаторов социальной защиты (ASPIRE)</a></u></h4>

<p>Атлас индикаторов социальной защиты (ASPIRE) является базой данных, собранных в результате проведения официальных международных обследований домохозяйств, с целью анализа воздействия программ социальной защиты и занятости на распределение доходов и уровень бедности. ASPIRE постоянно совершенствуется: повышается качество, сопоставимость и доступность данных; информация о политике и программах социальной поддержки населения становится доступнее.</p>
<p>Данный портал используется сотрудниками Всемирного банка и внешними пользователями в качестве единой информационной системы показателей социальной защиты и занятости. ASPIRE непосредственно связан с базой данных Всемирного банка, поэтому у пользователя есть доступ к инструментам поиска по базе данных и составлению настраиваемых таблиц и диаграмм. Кроме того, портал содержит информацию из библиотеки микроданных Всемирного банка.</p>
<br />
<h4 style="padding-bottom: 8px;">
    <u>
        <a href="http://datatopics.worldbank.org/aspire/indicator_glance" target="_blank">Обзор индикаторов социальной защиты (ASPIRE)</a>
</u>
  
</h4>
<p>Приведенные ниже ссылки представляют таблицы с информацией об отдельных индикаторах Атласа индикаторов социальной защиты (ASPIRE) по странам и годам. Для настройки Вашего поиска, пожалуйста, посетите страницу базы данных ASPIRE.</p>
<p><a href="/docs/1.xlsx" target="_blank">Таблица 1 Ключевые индикаторы ASPIRE измеряющие эффективность мер социальной поддержки</a></p>
<p><a href="/docs/2.xlsx" target="_blank">Таблица 2 Охват населения программами социальной поддержки и социального страхования по доходным квинтилям до и после выплат</a></p>
<p><a href="/docs/3.xlsx" target="_blank">Таблица 3 Адекватность мер социальной поддержки по сравнению с доходом получателей по доходным квинтилям</a></p>
<p><a href="/docs/4.xlsx" target="_blank">Таблица 4 Распределение выплат по доходным квинтилям до и после выплат</a></p>
<p><a href="/docs/5.xlsx" target="_blank">Таблица 5 Влияние мер социальной поддержки и социального страхования на бедность и неравенство</a></p>
<p><a href="/docs/6.xlsx" target="_blank">Таблица 6 Ключевые индикаторы результативности по городскому и сельскому населению</a></p>
<p><a href="/docs/7.xlsx" target="_blank">Таблица 7 Охват программами социальной поддержки и занятости беднейшего квинтиля и всего населения</a></p>
<br />
<h4 style="padding-bottom: 8px;">
    <u>
        <a href="http://datatopics.worldbank.org/aspire/~/documentation" target="_blank">Источники данных и методология</a>
    </u>
</h4>

<p>
    Основой работы по составлению ASPIRE является выявление пособий и услуг социальной защиты и занятости в опросах домохозяйств. Для глубокого понимания систем социальной поддержки в странах необходимо выявить и правильно классифицировать различные пособия и схемы социальной защиты по сути (страховые и нестраховые), по условиям выплат (наличные, обеспечение продуктами питания, квази-денежные меры, субсидии) и по наличию адресности (универсальные, категориальные, адресные пособия).
</p>
<p>
    Пользователям рекомендуется посмотреть файлы документации во время использования базы данных ASPIRE для понимания, какие программы социальной защиты включены в состав индикаторов.
</p>
<p>
    Для проведения последовательного анализа в базе данных ASPIRE используются страновые обследования домохозяйств за разные годы с некоторыми исключениями в случаях, еслиопрос был отменени/или в случае изменений в дизайне опросника (Коста-Рика, Джибути, Лесото, Панама и Филиппины).
</p>
<h4 style="padding-bottom: 8px;">
    Доступность данных
</h4>

<p>
    Показатели эффективности ASPIRE охватывают 262 обследования в 120 странах, преимущественно в развивающихся странах, в период с 1998 года по 2014 год.
    <a href="http://databank.worldbank.org/data/download/aspire/ASPIRE_list_of_countries_exp.htm">Показатели данных</a> о странах ASPIRE охватывают 406 обследований в 109 странах с 1998 года по 2012 год.
</p>
<p>По ссылкам ниже находится каталог с указанием стран, обследований, годов, идентификаторов обследований и веб-ссылок на информацию об исследованиях в <a href="http://microdata.worldbank.org/index.php/home">World Bank Microdata Library (Библиотека микроданных Всемирного банка).</a></p>
<p>Каталог обследований по странам и годам:</p>
<ul>
    <li><a href="http://databank.worldbank.org/data/download/aspire/ASPIRE_list_of_datasets_ccx.htm">Country context indicators</a></li>
    <li><a href="http://databank.worldbank.org/data/download/aspire/ASPIRE_list_of_datasets_per.htm">Performance indicators</a></li>
</ul>
<p>Наименования обследований, идентификаторы и веб-ссылки:</p>
<ul>
    <li><a href="http://databank.worldbank.org/data/download/aspire/ASPIRE_surveyID_info_ccx.htm">Country context indicators</a></li>
    <li><a href="http://databank.worldbank.org/data/download/aspire/ASPIRE_surveyID_info_per.htm">Performance indicators</a></li>
</ul>
<h4 style="padding-bottom: 8px;">
    Методология гармонизации
</h4>

<p>
    Методология гармонизации данных обследований домохозяйств включает в себя следующие шаги:
</p>
<p>
    1. Идентификация и классификация всех выплат и услуг в сфере социальной поддержки и занятости
    Обследования домохозяйств внимательно рассматриваются с целью выявления информации о программах социальной защиты и занятости. Как только такая информация собрана, применяются два уровня анализа: на первом переменные создаются для каждой отдельной программы, имеющейся в обследовании в конкретной стране. В том случае, если собственной название у программы отсутствует в инструментарии обследования, переменная будет именоваться в соответствии с корреспондирующими подкатегориями программ в ASPIRE, в зависимости от того, как был задан вопрос в обследовании, и отталкиваясь от национального контекста.
    Дополнительно, переменные агрегируются и унифицируются (harmonized) в <a href="http://pubdocs.worldbank.org/en/340871485449612510/ASPIRE-program-classification.pdf">12 категорий программ социальной защиты и занятости</a> и 2 категории частных выплат. Каждая из программ в обследованных странах, включенная в эти категории, подробно описана ниже и проверяется командами специалистов по данным странам в тесной координации с партнерами в этих странах.
</p>
<p>
    С целью разработки индикаторов, унифицируются следующие переменные: идентификационный номер домохозяйства, тип поселения (городской / сельский), количество членов домохозяйства, количество совершеннолетних членов домохозяйства, агрегированный объем материального обеспечения (welfare), весовой коэффициент домохозяйств и линия бедности, определяемая как 20% беднейших по материальному обеспечению.
</p>
<p>
    2. Агрегирование по благосостоянию
</p>
<p>
    Домохозяйства упорядочены по квинтилям в зависимости от уровня материального благосостояния (по совокупному доходу домохозяйства или по уровню потребления). Серьезные усилия были проделаны с целью включения [в ASPIRE] самых последних данных агрегированных показателей, согласованных с национальными статистическими службами и местными командами специалистов по бедности (или для стран Латинской Америки и Карибского бассейна Социально-экономической базой данных Латинской Америки и стран Карибского бассейна (<a href="http://sedlac.econo.unlp.edu.ar/eng/">SEDLAC</a>) и базой данных ECAPOV в случае Восточной Европы и Центральной Азии). Агрегированные показатели материального благосостояния также согласуются с показателями, используемыми Всемирным банком при оценке бедности PovcalNet.
</p>
<p>
    3. Приведение переменных к паритету покупательной способности (ППС)
</p>
<p>
    Все переменные в денежном выражении (размеры выплат) и агрегированные показатели материального благосостояния пересчитаны в постоянных ценах 2005 года, а затем конвертированы в доллары США по следующей формуле: [(все трансферты и материальное благосостояние (t)) / (CPI (2005)] / [ПМС (2005)], где ПМС (Программа международного сопоставления, International Comparison Program, ICP (2005)) является приведенной по ППС на базе факторов показателей частного потребления 2005 года.
</p>
<p>
    После гармонизации и унификации всей информации разрабатываются показатели результативности с использованием программного обеспечения <a href="http://econ.worldbank.org/WBSITE/EXTERNAL/EXTDEC/EXTRESEARCH/EXTPROGRAMS/EXTADEPT/0,,contentMDK:22679006~menuPK:7332360~pagePK:64168182~piPK:64168060~theSitePK:7108360,00.html">ADePT SP</a>.
</p>
<p>
    <a href="http://pubdocs.worldbank.org/en/340871485449612510/ASPIRE-program-classification.pdf">Матрица классификации программ</a>
</p>
<p>
    <a href="http://pubdocs.worldbank.org/en/551411485449035194/ASPIRE-program-inventory.xlsx">Перечень всех программ.</a>
</p>
<h4 style="padding-bottom: 8px;">Файлы программной документации и описания классификации</h4>

<h5><u>Размеры расходов и программ</u></h5>
<p>
    <a href="http://pubdocs.worldbank.org/en/531411485449033265/ASPIRE-expenditure-program-documentation.xlsx">Здесь</a> Вы найдете список программ, для которых доступны данные о размере расходов в ASPIRE, классифицированные по соответствующей категории.
</p>
<h5>
    <u>
        Показатели результативности
    </u>
</h5>
        <p>
    В ссылках ниже приведено описание того, как информация по участию в программах социальной защиты и занятости или выплата пособий отражается в оригинальных обследованиях домохозяйств. Кроме того, объясняется, какие программы были агрегированы в каждую из унифицированных категорий программ социальной защиты и занятости. При пользовании стоит иметь ввиду <a href="http://datatopics.worldbank.org/aspire/indicator_caveats"></a>пояснения по методологии ASPIRE.</a>
</p><p>
    Переменные унифицированных программ социальной защиты и занятости могут быть представлены в денежном выражении (размеры выплат) или в показателе участия в программе. В зависимости от того, каким образом собирается информация для обследования. Показатели в денежном выражении, включая показатели благосостояния – это дневные показатели с поправкой на ППС.
<p>
    <ul>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_EAP_documentation.xlsx" target="_blank">Asia & Pacific (EAP)</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_ECA_documentation.xlsx" target="_blank">Europe & Central Asia (ECA)</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_LAC_documentation.xlsx" target="_blank">Latin America & Caribbean (LAC)</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_MNA_documentation.xlsx" target="_blank">Middle East & North Africa (MNA)</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_SAR_documentation.xlsx" target="_blank">South Asia (SAR)</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_SSA-SE_documentation.xlsx" target="_blank">Sub-Saharan Africa (SSA) - East</a></li>
        <li><a href="http://siteresources.worldbank.org/EXTSOCIALPROTECTION/Resources/282636-1408630568347/ASPIRE_SSA-SW_documentation.xlsx" target="_blank">Sub-Saharan Africa (SSA) - West</a></li>
    </ul>
    <br/>
    <h4>Классификация программ ASPIRE</h4>
    <br/>
    <table class="interTable">
        <thead>
            <tr>
                <th>ТИП СИСТЕМЫ СОЦИАЛЬНОЙ ЗАЩИТЫ</th>
                <th>КАТЕГОРИЯ ПРОГРАММЫ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">СОЦИАЛЬНОЕ СТРАХОВАНИЕ</td>
                <td>Пенсии (основанные на страховых взносах)</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Другие программы социального страхования</td>
            </tr>
            <tr>
                <td rowspan="2">РЫНОК ТРУДА</td>
                <td>Активные меры на рынке труда</td>
            </tr>
            <tr>
                 <!--<td></td>-->
                <td>Пассивные меры на рынке труда</td>
            </tr>
            <tr>
                <td rowspan="8">СОЦИАЛЬНАЯ ПОДДЕРЖКА</td>
                <td>Денежные выплаты</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Денежные выплаты с предъявлением требований к дх</td>
            </tr> 
            <tr>
                <!--<td></td>-->
                <td>Социальные пенсии (без страховых взносов)</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Трансферты в натуральной форме</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Школьное питание</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Общественные работы</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Льготные тарифы, субсидии</td>
            </tr>
            <tr>
                <!--<td></td>-->
                <td>Прочая социальная поддержка</td>
            </tr>
            <tr>
                <td rowspan="2">ЧАСТНЫЕ ТРАНСФЕРТЫ</td>
                <td>Внутренние частные трансферты</td>
            </tr>
            <tr>
                 <!--<td></td>-->
                <td>Международные частные трансферты</td>
            </tr>
        </tbody>
    </table>
    	
    	  
    
    
    
    
    	
    

