
@{
    ViewBag.Title = "mainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Атлас индикаторов социальной защиты ASPIRE</h3>
<br />
<table style="width: 100%">
    <tr>
        <td style="width:30%;border:1px solid grey; text-align: center;">
            <a href="/CompareMCP/Index">
                <img src="~/images/icon3.svg" />
                <div><h4>Российские данные и индикаторы ASPIRE</h4></div>
            </a>
        </td>
        <td></td>
        <td style="width:30%;border:1px solid grey; text-align: center;">
            <a href="/Home/russionVersion">
                <img src="~/images/icon2.svg" />
                <div><h4>О российской версии ASPIRE</h4></div>
            </a>
        </td>
        <td></td>
        <td style="width:30%;border:1px solid grey; text-align: center;">
            <a href="/Home/internationalVersion">
                <img src="~/images/icon1.svg" />
                <div><h4>О международной версии ASPIRE</h4></div>
            </a>
        </td>
        <td></td>

    </tr>
</table>

<br />
<p>

    Атлас разработан Сектором социальной защиты, рынка труда и занятости Всемирного банка (Social Protection and Labor, SPL) с целью выявления и обновления всестороннего набора сопоставимых и доступных индикаторов, которые помогают измерить результативность функционирования таких систем.
    Атлас индикаторов социальной защиты (ASPIRE) является базой данных, собранных в результате проведения официальных международных обследований домохозяйств, с целью анализа воздействия программ социальной защиты и занятости на распределение доходов и уровень бедности.
    В российскую версию ASPIRE интегрированы данные обо всех мерах социальной поддержки (МСП) населения России, предоставляемых как на федеральном, так и на региональном уровнях, финансируемых и администрируемых не только через органы управления социальной защитой населения, но и органы управления в сфере образования, здравоохранения, занятости, а также строительства и ЖКХ.
</p>
<p>
    Российская версия Атласа индикаторов социальной защиты ASPIRE разработана в рамках сотрудничества Всемирного банка, Министерства финансов Российской Федерации и Научно-исследовательского финансового института Министерства финансов Российской Федерации по теме "Развитие системы социальной защиты Российской Федерации".
</p>
