
@{
    ViewBag.Title = "О российской версии ASPIRE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="uk-breadcrumb"><li><a href="/">Главная</a></li><li class="uk-active"><span>О российской версии ASPIRE версии ASPIRE</span></li></ul>


<h3>О российской версии атласа индикаторов социальной защиты ASPIRE</h3>
<br/>
<p>В Докладе об основных направлениях повышения эффективности бюджетных расходов в субъектах Российской Федерации, подготовленном Минфином России, отмечается, что одним из направлений такого повышения является проведение мониторинга работы субъектов Российской Федерации по совершенствованию организации социальной поддержки на основе современного инструментария и учет результатов мониторинга, например, при распределении федеральных дотаций субъектам Российской Федерации. Одним из таких инструментов станет русскоязычный Атлас индикаторов социальной защиты (ASPIRE).</p>

<p>
    Для получения объективных показателей и оценки резервов повышения эффективности необходимы сопоставления затрат и результатов системы социальной защиты по регионам страны и сопоставления сходных программ по странам. Такие сопоставления требуют единой методологии и критериев. Система ASPIRE, поддерживаемая Всемирным банком, содержит детальную методологию и показатели эффективности на уровне программ и систем соцзащиты по 120 странам (www.worldbank.org/aspire). Включение России в эту базу данных позволит найти адекватные примеры для сопоставлений российских и зарубежных программ, выявить конкретные целевые показатели эффективности, соответствующие российской специфике, и максимально автоматизировать мониторинг системы социальной защиты в России.
</p>
<p>
    В 2016–2018 гг. НИФИ размещает русскоязычную версию Атласа, в которую интегрированы данные обо всех мерах социальной поддержки населения России, предоставляемых как на федеральном, так и на региональном уровнях, финансируемых и администрируемых не только через органы управления социальной защитs населения, но и в сфере образования, здравоохранения, занятости, а также строительства ЖКХ.
</p>
<p>
    Интеграция российских данных позволяет проводить сопоставимую оценку эффективности мер социальной поддержки в России и зарубежных странах. Такие сопоставления (или бенчмаркинг) позволяют выявить особенности российской системы и пути повышения ее эффективности.
</p>
<p>
    Адаптация международного ASPIRE для российских пользователей за счет русификации и включения данных по России в общую базу данных позволяет расширить круг стран и программ для таких сопоставлений.
</p>
<p>
    Включение в российский Атлас данных о региональных мерах социальной поддержки позволяет проводить сопоставимую оценку эффективности мер социальной поддержки между субъектами Российской Федерации с помощью показателей, рассчитанных на основе репрезентативных обследований Росстата о доходах населения и участии в социальных программах. Российский Атлас – первый в мире, в который будут включаться региональные бюджетные данные о предоставлении и финансировании мер социальной поддержки. Оригинальная методология для сбора, классификации и анализа этой информации разработана НИФИ.
</p>
<p>
    Оценка эффективности мер социальной поддержки (в том числе и сравнительная межрегиональная оценка) может проводиться с помощью оценки доли расходов на меры соцподдержки с проверкой доходов в общем объеме расходов на соцпомощь; охвата населения мерами социальной поддержки; и влияния мер социальной поддержки на сокращение дефицита дохода и сокращение бедности. Такой анализ позволяет поставить сравнение региональных политик в области социальной защиты населения на объективную основу.
</p>
<p>
    Возможности Атласа и его отличия от других баз данных, существующих сегодня в России:
</p>
<p>
    1. Возможность проведения межрегиональных сравнений систем социальной поддержки по составу мер, уровню бюджетных расходов, эффективности, на основе данных, сформированных с использованием единой методологии
    Атлас – это база показателей, дающих унифицированное представление обо всех реализуемых мерах социальной поддержки на основе единой для всех методологии, обеспечивающей сопоставимость показателей как в межстрановом сравнении, так и в межрегиональном.
    В отличии от существующих сегодня в России баз данных, которые собирают данные по получателям мер социальной поддержки (кто и какие меры соцподдержки получает, в каком объеме) российская версия ASPIRE комбинирует данные из двух источников:
    – бюджетной и иной ведомственной статистики о фактически произведенных расходах бюджета и численности получателей мер социальной поддержки, размере (среднем размере) произведенных выплат;
    – микроданные, полученные из социологических опросов, охватывающих все население (данные Росстата по выборочному наблюдению доходов населения и участию в социальных программах).
    Это позволяет помещать информацию о предоставляемых мерах соцподдержки в общий контекст данных по всему населению и видеть не только получателей средств социальной помощи, но и тех, кто остается «за бортом» такой поддержки. Кроме того, дает возможность оценить изменения в результате сойподдержки в материальном положении получателей мер и сравнить его с положением остального населения. Таким образом может быть сформирована наглядная картина эффективности оказываемых мер соцподдержки, как с точки зрения охвата нуждающихся, так и с точки зрения сокращения имеющегося у них дефицита доходов, а также адресного и неадресного использования средств.
    Атлас также позволяет оценить бюджетные расходы на различные цели государственной политики, через анализ и оценку мер соцподдержки, входящих в различные классификационные группы.
</p>
<p>
    2. Возможность проведения мониторинга изменений в сфере социальной поддержки населения
    Атлас позволяет пользователям в России проводить мониторинг изменений в сфере социальной поддержки населения. За счет того, что база данных обновляется, можно отслеживать процессы, происходящие в сфере социальной поддержки населения, в динамике. Кроме того, ASPIRE обеспечивает возможность проведения межрегионального бенчмаркинга этих изменений, в том числе при планировании мероприятий по оптимизации расходов региональных бюджетов и при проведении оценки эффективности их исполнения.
</p>
<p>
    3. Обеспечение единой методологической платформы для анализа эффективности мер социальной поддержки в отдельных регионах, стандартизация и автоматизация анализа.
</p>   
     <p>   Разработанный для пользователей базы данных ASPIRE стандартный методологический аппарат для анализа системы мер социальной защиты включает в себя полный инструментарий используемый в практике странового анализа, который может с успехом применяться и для проведения региональных исследований. Он включает в себя стандартный набор таблиц для анализа:</p>
    <ul>
        <li>профиля бедности в субъекте Российской Федерации;</li>
        <li>пересечений и дублирования мер социальной поддержки;</li>
        <li>структуры бюджетных расходов на оказание соцподдержки;</li>
        <li>распределения получателей социальной помощи по доходным группам и объемов выплат получателям, относящимся к разным доходным группам;</li>
        <li>охвата разных категорий получателей мерами социальной поддержки;</li>
    </ul>

<p>
    Использование стандартного инструментария и стандартных отчетов облегчает освоение возможностей базы данных новыми пользователями. Этому способствует специальный пользовательский интерфейс.
</p>